<h3>Update Vehicle</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Vehicle Plate</label>
      <input type="text" class="form-control" id="plate" required [(ngModel)]="vehicle.plate" name="plate">
    </div>

    <div class="form-group">
      <label for="name">Vehicle RENAVAM</label>
      <input type="text" class="form-control" id="renavam" required [(ngModel)]="vehicle.renavam" name="renavam">
    </div>

    <div class="form-group">
      <label for="name">Vehicle Plate</label>
      <input type="text" class="form-control" id="model" required [(ngModel)]="vehicle.model" name="model">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
